body {
  background-color: #282c34; /* Dark background */
  color: #abb2bf; /* Main text */
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  color: #c678dd; /* Purple for links */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: #e06c75; /* Red for headings */
}
h2 {
  color: #c678dd; /* Purple for headings */
}
h3 {
  color: #e5c07b; /* Gold for headings */
}
h4 {
  color: #98c379; /* Green for headings */
}
h5 {
  color: #61afef; /* Blue for headings */
}
h6 {
  color: #56b6c2; /* Cyan for headings */
}

pre {
  background-color: #21252b; /* Slightly lighter for contrast */
  color: #abb2bf; /* Base text color */
  padding: 15px; /* Extra padding for better readability */
  border-radius: 8px; /* Rounded corners for modern feel */
  overflow-x: auto; /* Horizontal scroll for long lines */
  font-family: 'Fira Code', 'Consolas', monospace; /* Monospace font */
  font-size: 0.95rem; /* Slightly smaller font */
}
blockquote {
  color: #56b6c2; /* Cyan for blockquotes */
  border-left: 4px solid #c678dd; /* Purple border */
  padding-left: 10px;
  margin-left: 0;
  font-style: italic;
}

strong {
  color: #c678dd; /* Purple for bold text */
}

em {
  color: #e5c07b; /* Gold for emphasized text */
}

ul,
ol {
  color: #abb2bf; /* Main text for lists */
}

li::marker {
  color: #c678dd; /* Purple bullets/numbers */
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #abb2bf; /* Table text */
}

th {
  background-color: #3e4451;
  color: #c678dd; /* Purple for table headers */
  text-align: left;
  padding: 8px;
}

td {
  background-color: #282c34;
  color: #abb2bf;
  padding: 8px;
  border: 1px solid #3e4451;
}

hr {
  border: none;
  border-top: 1px solid #3e4451;
  margin: 20px 0;
}

code {
  background-color: transparent; /* Transparent background */
  color: #98c379; /* Green for code */
  padding: 2px 4px;
  border-radius: 3px;
}

/* Syntax highlighting for code blocks */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370; /* Gray for comments */
}

.token.punctuation {
  color: #abb2bf; /* Base text for punctuation */
}

.token.brace,
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e06c75; /* Red for important elements */
}

.token.boolean,
.token.null,
.token.regex,
.token.number {
  color: #d19a66; /* Orange for numbers and booleans */
}

.token.value,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #98c379; /* Green for strings */
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #56b6c2; /* Cyan for operators and entities */
}

.token.keyword {
  color: #c678dd; /* Purple for keywords */
}

.token.key,
.token.function {
  color: #61afef; /* Blue for functions */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
